.page {
  background-color: rgba(3, 3, 0, 1);
  position: relative;
  width: 100vw;
  height: 160vw;
  overflow: hidden;
  padding: 0.55vw 2.33vw 52.66vw 2.33vw;
}

.box_1 {
}

.text_14 {
  height: 1.56vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.33vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.text_15 {
  height: 1.56vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.33vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin-left: 0.89vw;
}

.image_8 {
  width: 4vw;
  height: 1.12vw;
  margin: 0.22vw 0 0.22vw 72.66vw;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.33vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.56vw;
  margin-left: 0.45vw;
}

.image_9 {
  width: 3vw;
  height: 1.34vw;
  margin: 0.11vw 0 0.11vw 0.33vw;
}

.image-wrapper_3 {
  margin: 21.22vw 41.55vw 0 42.66vw;
}

.image_3 {
  width: 11.12vw;
  height: 11.12vw;
}

.text-wrapper_3 {
  margin: 3.33vw 33.77vw 0 34.88vw;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.33vw;
  font-family: DingTalk-JinBuTi;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4vw;
}

.box_2 {
  width: 42.23vw;
  align-self: center;
  margin-top: 5.56vw;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 2.22vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.12vw;
  padding: 0 0 0 0vw;
  background: none;
  border: 0;
  flex: auto;
}
.input_1 {
  background-color: rgba(35, 35, 35, 1);
  border-radius: 8px;
  border: 1px solid rgba(69, 69, 69, 1);
  padding-left: 2.23vw;
  width: 42.23vw;
  height: 6.23vw;
  padding-right: 2.23vw;
}
.input_1>>>.van-field__body {
  height: 6.23vw;
}

.box_3 {
  width: 42.23vw;
  align-self: center;
  margin-top: 2.23vw;
}

.button_1 {
  background-color: rgba(248, 149, 117, 1);
  border-radius: 8px;
  padding: 1.44vw 15.44vw 1.44vw 16.55vw;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.22vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.12vw;
}

.box_4 {
  margin: 2.22vw 30.11vw 0 26.55vw;
}

.image-text_2 {
  width: 38.67vw;
}

.checkbox_1 {
  border-radius: 50%;
  width: 2.23vw;
  height: 2.23vw;
  border: 2px solid rgba(151, 151, 151, 1);
  margin: 0.11vw 0 0.11vw 0;
}

.text-group_1 {
  width: 35.56vw;
  height: 2.45vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.45vw;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.77vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.45vw;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(248, 149, 117, 1);
  font-size: 1.77vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.45vw;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.77vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.45vw;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(248, 149, 117, 1);
  font-size: 1.77vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.45vw;
}

.box_5 {
  width: 42.23vw;
  align-self: center;
  margin-top: 25.67vw;
}

.image_6 {
  width: 13.34vw;
  height: 0.12vw;
  margin: 1.44vw 0 1.22vw 0;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin-left: 1.89vw;
}

.image_7 {
  width: 13.34vw;
  height: 0.12vw;
  margin: 1.44vw 0 1.22vw 1.66vw;
}

.box_6 {
  width: 40vw;
  align-self: center;
  margin-top: 4.45vw;
}

.image-wrapper_4 {
  width: 40vw;
  height: 7.78vw;
  justify-content: space-between;
}

.icon_1 {
  width: 7.78vw;
  height: 7.78vw;
  margin-right: 8.34vw;
}
